# Ignore virtual environments
.venv/
venv

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore database files
*.sqlite3

# Ignore Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Ignore static and media files
staticfiles/
media/

# Ignore logs
*.log

# Ignore compiled files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore node_modules (if using Node.js for frontend)
node_modules/

# Ignore Tailwind CSS build files (if applicable)
theme/static_src/

